footer{
    padding: 30px 0px;
    background-color: #3498db;
    color: white;
    text-align: center;
    gap:20px;

}


footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    gap:20px;
}

footer a:hover {
    text-decoration: underline;
}
