header {
    background-color: #3498db;
    padding: 20px 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;

}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 22px;
    padding-top: 10px;

}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

h1{
    font-weight: bold;
}